# Assignment 4
## Description
In this assignment you must read in a file of metropolitan regions and associated sports teams from [assets/wikipedia_data.html](assets/wikipedia_data.html) and answer some questions about each metropolitan region. Each of these regions may have one or more teams from the "Big 4": NFL (football, in [assets/nfl.csv](assets/nfl.csv)), MLB (baseball, in [assets/mlb.csv](assets/mlb.csv)), NBA (basketball, in [assets/nba.csv](assets/nba.csv) or NHL (hockey, in [assets/nhl.csv](assets/nhl.csv)). Please keep in mind that all questions are from the perspective of the metropolitan region, and that this file is the "source of authority" for the location of a given sports team. Thus teams which are commonly known by a different area (e.g. "Oakland Raiders") need to be mapped into the metropolitan region given (e.g. San Francisco Bay Area). This will require some human data understanding outside of the data you've been given (e.g. you will have to hand-code some names, and might need to google to find out where teams are)!

For each sport I would like you to answer the question: **what is the win/loss ratio's correlation with the population of the city it is in?** Win/Loss ratio refers to the number of wins over the number of wins plus the number of losses. Remember that to calculate the correlation with [`pearsonr`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.pearsonr.html), so you are going to send in two ordered lists of values, the populations from the wikipedia_data.html file and the win/loss ratio for a given sport in the same order. Average the win/loss ratios for those cities which have multiple teams of a single sport. Each sport is worth an equal amount in this assignment (20%\*4=80%) of the grade for this assignment. You should only use data **from year 2018** for your analysis -- this is important!

## Notes

1. Do not include data about the MLS or CFL in any of the work you are doing, we're only interested in the Big 4 in this assignment.
2. I highly suggest that you first tackle the four correlation questions in order, as they are all similar and worth the majority of grades for this assignment. This is by design!
3. It's fair game to talk with peers about high level strategy as well as the relationship between metropolitan areas and sports teams. However, do not post code solving aspects of the assignment (including such as dictionaries mapping areas to teams, or regexes which will clean up names).
4. There may be more teams than the assert statements test, remember to collapse multiple teams in one city into a single value!

## Question 1
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NHL** using **2018** data.

In [248]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re


cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]
cities.rename(columns={'Population (2016 est.)[8]':'Population'},inplace=True)
# reset indices
cities.index=np.arange(len(cities.index))

In [249]:
nhl_df=pd.read_csv("assets/nhl.csv")
# extract just year 2018, remove rows containing Divison 
nhl_df=nhl_df[nhl_df.year==2018]
nhl_df=nhl_df[~nhl_df.team.str.contains('Division')]
# reset indices
nhl_df.index=np.arange(len(nhl_df.index))

In [250]:
# Extract last word of team
pattern='(?P<team>[\w]*)[\*]*$'
team = nhl_df.team

def team_split(f):
    for item in re.finditer(pattern, f):
        return item.groupdict()['team']

nhl_df['team2']=nhl_df['team'].apply(team_split)
nhl_df['team2']

0      Lightning
1         Bruins
2          Leafs
3       Panthers
4          Wings
5      Canadiens
6       Senators
7         Sabres
8       Capitals
9       Penguins
10        Flyers
11       Jackets
12        Devils
13    Hurricanes
14     Islanders
15       Rangers
16     Predators
17          Jets
18          Wild
19     Avalanche
20         Blues
21         Stars
22    Blackhawks
23       Knights
24         Ducks
25        Sharks
26         Kings
27        Flames
28        Oilers
29       Canucks
30       Coyotes
Name: team2, dtype: object

In [251]:
# strip out notes
pattern='(?P<team>[\w]*)[\[note\s\d\]]*$'
team = cities.NHL
print(team[18])

def team_split(f):
    for item in re.finditer(pattern, f):
        return item.groupdict()['team']

cities=cities[['Metropolitan area','Population','NHL']]
cities['NHL2']=cities['NHL'].apply(team_split)
cities

[note 32]

,Metropolitan area,Population,NHL,NHL2
0,New York City,20153634,RangersIslandersDevils[note 3],RangersIslandersDevils
1,Los Angeles,13310447,KingsDucks,KingsDucks
2,San Francisco Bay Area,6657982,Sharks[note 7],Sharks
3,Chicago,9512999,Blackhawks,Blackhawks
4,Dallas–Fort Worth,7233323,Stars,Stars
5,"Washington, D.C.",6131977,Capitals,Capitals
6,Philadelphia,6070500,Flyers[note 13],Flyers
7,Boston,4794447,Bruins,Bruins
8,Minneapolis–Saint Paul,3551036,Wild[note 16],Wild
9,Denver,2853077,Avalanche[note 18],Avalanche
10,Miami–Fort Lauderdale,6066387,Panthers,Panthers
11,Phoenix,4661537,Coyotes,Coyotes
12,Detroit,4297617,Red Wings,Wings
13,Toronto,5928040,Maple Leafs,Leafs
14,Houston,6772470,—,
15,Atlanta,5789700,[note 25],
16,Tampa Bay Area,3032171,Lightning,Lightning
17,Pittsburgh,2342299,Penguins[note 28],Penguins
18,Cleveland,2055612,[note 32],
19,Seattle,3798902,[note 34],
20,Cincinnati,2165139,—,
21,Kansas City,2104509,[note 39],
22,St. Louis,2807002,Blues[note 43],Blues
23,Baltimore,2798886,—,
24,Charlotte,2474314,—,
25,Indianapolis,2004230,—,
26,Nashville,1865298,Predators,Predators
27,Milwaukee,1572482,—,
28,New Orleans,1268883,—,
29,Buffalo,1132804,Sabres,Sabres
30,Montreal,4098927,Canadiens,Canadiens
31,Vancouver,2463431,Canucks,Canucks
32,Orlando,2441257,—,
33,Portland,2424955,—,
34,Columbus,2041520,Blue Jackets,Jackets
35,Calgary,1392609,Flames,Flames
36,Ottawa,1323783,Senators,Senators
37,Edmonton,1321426,Oilers,Oilers
38,Salt Lake City,1186187,—,
39,Winnipeg,778489,Jets[note 61],Jets
40,San Diego,3317749,—,
41,San Antonio,2429609,—,
42,Sacramento,2296418,—,
43,Las Vegas,2155664,Golden Knights,Knights
44,Jacksonville,1478212,—,
45,Oklahoma City,1373211,—,
46,Memphis,1342842,—,
47,Raleigh,1302946,Hurricanes,Hurricanes
48,Green Bay,318236,—,
49,Hamilton,747545,[note 71],
50,Regina,236481,—,

SKIP THIS SECTION

In [ ]:
t1=list(nhl_df['team2'])[0]
print(t1)

t2=cities['NHL2'][16]
print(t2)

print(t1 in t2)

print(list(nhl_df['team2'])[0] in cities['NHL2'][16])
#cities['NHL2'][16].isin(nhl_df['team2'][0])

In [ ]:
t1=list(nhl_df['team2'])[0]
(cities['NHL2'].str.find(t1)==0)[16]

In [ ]:
#cities.index[cities['NHL2'].str.find(t1)==0]
cities[cities['NHL2'].str.find(t1)==0].index

In [ ]:
a=list(cities.index[cities['NHL2'].str.find(t1)==0])
int(a[0])

In [ ]:
cities.index[cities['NHL2'].str.find(t1)==0].tolist()

In [ ]:
x='Sabres'
len(list(cities.index[cities['NHL2'].str.find(x)==0]))>0

In [ ]:
cities['Metropolitan area'][29]

In [ ]:
list(cities.index[cities['NHL2'].str.contains('Devils')==True])

END TEST CODE

In [252]:
nhl2_df=nhl_df
for i,x in enumerate(nhl_df['team2']):
    #if len(list(cities.index[cities['NHL2'].str.find(x)==0]))>0:
    if len(list(cities.index[cities['NHL2'].str.contains(x)==True]))>0:
        idx=int(list(cities.index[cities['NHL2'].str.contains(x)==True])[0])
        nhl2_df.loc[i,'M']=cities['Metropolitan area'][idx]
        #nhl_df2['Metro area'][i]=cities['Metropolitan area'][idx]
        #print(cities['Metropolitan area'][idx])
        print(i, x, idx, cities['Metropolitan area'][idx])
    else:
        print('WARNING:',i,x)

0 Lightning 16 Tampa Bay Area
1 Bruins 7 Boston
2 Leafs 13 Toronto
3 Panthers 10 Miami–Fort Lauderdale
4 Wings 12 Detroit
5 Canadiens 30 Montreal
6 Senators 36 Ottawa
7 Sabres 29 Buffalo
8 Capitals 5 Washington, D.C.
9 Penguins 17 Pittsburgh
10 Flyers 6 Philadelphia
11 Jackets 34 Columbus
12 Devils 0 New York City
13 Hurricanes 47 Raleigh
14 Islanders 0 New York City
15 Rangers 0 New York City
16 Predators 26 Nashville
17 Jets 39 Winnipeg
18 Wild 8 Minneapolis–Saint Paul
19 Avalanche 9 Denver
20 Blues 22 St. Louis
21 Stars 4 Dallas–Fort Worth
22 Blackhawks 3 Chicago
23 Knights 43 Las Vegas
24 Ducks 1 Los Angeles
25 Sharks 2 San Francisco Bay Area
26 Kings 1 Los Angeles
27 Flames 35 Calgary
28 Oilers 37 Edmonton
29 Canucks 31 Vancouver
30 Coyotes 11 Phoenix

In [253]:
nhl2_df[['team','team2','M']][nhl2_df['M'].isna()]

Empty DataFrame
Columns: [team, team2, M]
Index: []

In [254]:
nhl2_df

,team,GP,W,L,OL,PTS,PTS%,GF,GA,SRS,SOS,RPt%,ROW,year,League,team2,M
0,Tampa Bay Lightning*,82,54,23,5,113,.689,296,236,0.66,-0.07,.634,48,2018,NHL,Lightning,Tampa Bay Area
1,Boston Bruins*,82,50,20,12,112,.683,270,214,0.62,-0.07,.610,47,2018,NHL,Bruins,Boston
2,Toronto Maple Leafs*,82,49,26,7,105,.640,277,232,0.49,-0.06,.567,42,2018,NHL,Leafs,Toronto
3,Florida Panthers,82,44,30,8,96,.585,248,246,-0.01,-0.04,.537,41,2018,NHL,Panthers,Miami–Fort Lauderdale
4,Detroit Red Wings,82,30,39,13,73,.445,217,255,-0.48,-0.01,.341,25,2018,NHL,Wings,Detroit
5,Montreal Canadiens,82,29,40,13,71,.433,209,264,-0.68,0.00,.378,27,2018,NHL,Canadiens,Montreal
6,Ottawa Senators,82,28,43,11,67,.409,221,291,-0.85,0.00,.372,26,2018,NHL,Senators,Ottawa
7,Buffalo Sabres,82,25,45,12,62,.378,199,280,-0.98,0.01,.311,24,2018,NHL,Sabres,Buffalo
8,Washington Capitals*,82,49,26,7,105,.640,259,239,0.21,-0.04,.585,46,2018,NHL,Capitals,"Washington, D.C."
9,Pittsburgh Penguins*,82,47,29,6,100,.610,272,250,0.23,-0.04,.573,45,2018,NHL,Penguins,Pittsburgh
10,Philadelphia Flyers*,82,42,26,14,98,.598,251,243,0.07,-0.03,.543,40,2018,NHL,Flyers,Philadelphia
11,Columbus Blue Jackets*,82,45,30,7,97,.591,242,230,0.11,-0.04,.537,39,2018,NHL,Jackets,Columbus
12,New Jersey Devils*,82,44,29,9,97,.591,248,244,0.02,-0.03,.530,39,2018,NHL,Devils,New York City
13,Carolina Hurricanes,82,36,35,11,83,.506,228,256,-0.35,-0.01,.439,33,2018,NHL,Hurricanes,Raleigh
14,New York Islanders,82,35,37,10,80,.488,264,296,-0.40,-0.01,.427,32,2018,NHL,Islanders,New York City
15,New York Rangers,82,34,39,9,77,.470,231,268,-0.46,-0.01,.427,31,2018,NHL,Rangers,New York City
16,Nashville Predators*,82,53,18,11,117,.713,267,211,0.71,0.03,.652,47,2018,NHL,Predators,Nashville
17,Winnipeg Jets*,82,52,20,10,114,.695,277,218,0.74,0.02,.622,48,2018,NHL,Jets,Winnipeg
18,Minnesota Wild*,82,45,26,11,101,.616,253,232,0.29,0.04,.549,42,2018,NHL,Wild,Minneapolis–Saint Paul
19,Colorado Avalanche*,82,43,30,9,95,.579,257,237,0.28,0.04,.518,41,2018,NHL,Avalanche,Denver
20,St. Louis Blues,82,44,32,6,94,.573,226,222,0.10,0.05,.518,41,2018,NHL,Blues,St. Louis
21,Dallas Stars,82,42,32,8,92,.561,235,225,0.17,0.04,.506,38,2018,NHL,Stars,Dallas–Fort Worth
22,Chicago Blackhawks,82,33,39,10,76,.463,229,256,-0.26,0.07,.409,32,2018,NHL,Blackhawks,Chicago
23,Vegas Golden Knights*,82,51,24,7,109,.665,272,228,0.52,-0.01,.616,47,2018,NHL,Knights,Las Vegas
24,Anaheim Ducks*,82,44,25,13,101,.616,235,216,0.24,0.01,.555,40,2018,NHL,Ducks,Los Angeles
25,San Jose Sharks*,82,45,27,10,100,.610,252,229,0.28,0.00,.537,40,2018,NHL,Sharks,San Francisco Bay Area
26,Los Angeles Kings*,82,45,29,8,98,.598,239,203,0.44,0.00,.543,43,2018,NHL,Kings,Los Angeles
27,Calgary Flames,82,37,35,10,84,.512,218,248,-0.33,0.03,.470,35,2018,NHL,Flames,Calgary
28,Edmonton Oilers,82,36,40,6,78,.476,234,263,-0.32,0.03,.415,31,2018,NHL,Oilers,Edmonton
29,Vancouver Canucks,82,31,40,11,73,.445,218,264,-0.51,0.05,.409,31,2018,NHL,Canucks,Vancouver
30,Arizona Coyotes,82,29,41,12,70,.427,208,256,-0.53,0.05,.372,27,2018,NHL,Coyotes,Phoenix

In [255]:
# Sort by Metro area
cities.sort_values(by='Metropolitan area',inplace=True)
nhl2_df.sort_values(by='M',inplace=True)

In [256]:
cities2=cities[cities.NHL2!='']
cities2.shape

(28, 4)

In [257]:
cities2

,Metropolitan area,Population,NHL,NHL2
7,Boston,4794447,Bruins,Bruins
29,Buffalo,1132804,Sabres,Sabres
35,Calgary,1392609,Flames,Flames
3,Chicago,9512999,Blackhawks,Blackhawks
34,Columbus,2041520,Blue Jackets,Jackets
4,Dallas–Fort Worth,7233323,Stars,Stars
9,Denver,2853077,Avalanche[note 18],Avalanche
12,Detroit,4297617,Red Wings,Wings
37,Edmonton,1321426,Oilers,Oilers
43,Las Vegas,2155664,Golden Knights,Knights
1,Los Angeles,13310447,KingsDucks,KingsDucks
10,Miami–Fort Lauderdale,6066387,Panthers,Panthers
8,Minneapolis–Saint Paul,3551036,Wild[note 16],Wild
30,Montreal,4098927,Canadiens,Canadiens
26,Nashville,1865298,Predators,Predators
0,New York City,20153634,RangersIslandersDevils[note 3],RangersIslandersDevils
36,Ottawa,1323783,Senators,Senators
6,Philadelphia,6070500,Flyers[note 13],Flyers
11,Phoenix,4661537,Coyotes,Coyotes
17,Pittsburgh,2342299,Penguins[note 28],Penguins
47,Raleigh,1302946,Hurricanes,Hurricanes
2,San Francisco Bay Area,6657982,Sharks[note 7],Sharks
22,St. Louis,2807002,Blues[note 43],Blues
16,Tampa Bay Area,3032171,Lightning,Lightning
13,Toronto,5928040,Maple Leafs,Leafs
31,Vancouver,2463431,Canucks,Canucks
5,"Washington, D.C.",6131977,Capitals,Capitals
39,Winnipeg,778489,Jets[note 61],Jets

In [258]:
nhl2_df

,team,GP,W,L,OL,PTS,PTS%,GF,GA,SRS,SOS,RPt%,ROW,year,League,team2,M
1,Boston Bruins*,82,50,20,12,112,.683,270,214,0.62,-0.07,.610,47,2018,NHL,Bruins,Boston
7,Buffalo Sabres,82,25,45,12,62,.378,199,280,-0.98,0.01,.311,24,2018,NHL,Sabres,Buffalo
27,Calgary Flames,82,37,35,10,84,.512,218,248,-0.33,0.03,.470,35,2018,NHL,Flames,Calgary
22,Chicago Blackhawks,82,33,39,10,76,.463,229,256,-0.26,0.07,.409,32,2018,NHL,Blackhawks,Chicago
11,Columbus Blue Jackets*,82,45,30,7,97,.591,242,230,0.11,-0.04,.537,39,2018,NHL,Jackets,Columbus
21,Dallas Stars,82,42,32,8,92,.561,235,225,0.17,0.04,.506,38,2018,NHL,Stars,Dallas–Fort Worth
19,Colorado Avalanche*,82,43,30,9,95,.579,257,237,0.28,0.04,.518,41,2018,NHL,Avalanche,Denver
4,Detroit Red Wings,82,30,39,13,73,.445,217,255,-0.48,-0.01,.341,25,2018,NHL,Wings,Detroit
28,Edmonton Oilers,82,36,40,6,78,.476,234,263,-0.32,0.03,.415,31,2018,NHL,Oilers,Edmonton
23,Vegas Golden Knights*,82,51,24,7,109,.665,272,228,0.52,-0.01,.616,47,2018,NHL,Knights,Las Vegas
26,Los Angeles Kings*,82,45,29,8,98,.598,239,203,0.44,0.00,.543,43,2018,NHL,Kings,Los Angeles
24,Anaheim Ducks*,82,44,25,13,101,.616,235,216,0.24,0.01,.555,40,2018,NHL,Ducks,Los Angeles
3,Florida Panthers,82,44,30,8,96,.585,248,246,-0.01,-0.04,.537,41,2018,NHL,Panthers,Miami–Fort Lauderdale
18,Minnesota Wild*,82,45,26,11,101,.616,253,232,0.29,0.04,.549,42,2018,NHL,Wild,Minneapolis–Saint Paul
5,Montreal Canadiens,82,29,40,13,71,.433,209,264,-0.68,0.00,.378,27,2018,NHL,Canadiens,Montreal
16,Nashville Predators*,82,53,18,11,117,.713,267,211,0.71,0.03,.652,47,2018,NHL,Predators,Nashville
15,New York Rangers,82,34,39,9,77,.470,231,268,-0.46,-0.01,.427,31,2018,NHL,Rangers,New York City
12,New Jersey Devils*,82,44,29,9,97,.591,248,244,0.02,-0.03,.530,39,2018,NHL,Devils,New York City
14,New York Islanders,82,35,37,10,80,.488,264,296,-0.40,-0.01,.427,32,2018,NHL,Islanders,New York City
6,Ottawa Senators,82,28,43,11,67,.409,221,291,-0.85,0.00,.372,26,2018,NHL,Senators,Ottawa
10,Philadelphia Flyers*,82,42,26,14,98,.598,251,243,0.07,-0.03,.543,40,2018,NHL,Flyers,Philadelphia
30,Arizona Coyotes,82,29,41,12,70,.427,208,256,-0.53,0.05,.372,27,2018,NHL,Coyotes,Phoenix
9,Pittsburgh Penguins*,82,47,29,6,100,.610,272,250,0.23,-0.04,.573,45,2018,NHL,Penguins,Pittsburgh
13,Carolina Hurricanes,82,36,35,11,83,.506,228,256,-0.35,-0.01,.439,33,2018,NHL,Hurricanes,Raleigh
25,San Jose Sharks*,82,45,27,10,100,.610,252,229,0.28,0.00,.537,40,2018,NHL,Sharks,San Francisco Bay Area
20,St. Louis Blues,82,44,32,6,94,.573,226,222,0.10,0.05,.518,41,2018,NHL,Blues,St. Louis
0,Tampa Bay Lightning*,82,54,23,5,113,.689,296,236,0.66,-0.07,.634,48,2018,NHL,Lightning,Tampa Bay Area
2,Toronto Maple Leafs*,82,49,26,7,105,.640,277,232,0.49,-0.06,.567,42,2018,NHL,Leafs,Toronto
29,Vancouver Canucks,82,31,40,11,73,.445,218,264,-0.51,0.05,.409,31,2018,NHL,Canucks,Vancouver
8,Washington Capitals*,82,49,26,7,105,.640,259,239,0.21,-0.04,.585,46,2018,NHL,Capitals,"Washington, D.C."
17,Winnipeg Jets*,82,52,20,10,114,.695,277,218,0.74,0.02,.622,48,2018,NHL,Jets,Winnipeg

In [259]:
nhl2_df.W=nhl2_df.W.astype(int)
nhl2_df.L=nhl2_df.L.astype(int)

In [260]:
# Sum over Wins and Losses by Metro Area (M)
nhl3_df=nhl2_df.groupby(by=['M'])[['W','L']].sum()

# Calculate Win/Loss Ratio fror NHL
nhl3_df['W'] = nhl3_df['W'].astype(float)
nhl3_df['L'] = nhl3_df['L'].astype(float)
nhl3_df['WL']= nhl3_df['W'] + nhl3_df['L']
nhl3_df['WL Ratio']= nhl3_df['W']/nhl3_df['WL']
nhl3_df['Metro area']=nhl3_df.index

# reorder index
nhl3_df=nhl3_df.reindex(cities["Metropolitan area"])
nhl4_df=nhl3_df[nhl3_df['Metro area'].isnull()==False]
print(nhl4_df.shape)
nhl4_df

(28, 5)

                            W      L     WL  WL Ratio              Metro area
Metropolitan area
Boston                   50.0   20.0   70.0  0.714286                  Boston
Buffalo                  25.0   45.0   70.0  0.357143                 Buffalo
Calgary                  37.0   35.0   72.0  0.513889                 Calgary
Chicago                  33.0   39.0   72.0  0.458333                 Chicago
Columbus                 45.0   30.0   75.0  0.600000                Columbus
Dallas–Fort Worth        42.0   32.0   74.0  0.567568       Dallas–Fort Worth
Denver                   43.0   30.0   73.0  0.589041                  Denver
Detroit                  30.0   39.0   69.0  0.434783                 Detroit
Edmonton                 36.0   40.0   76.0  0.473684                Edmonton
Las Vegas                51.0   24.0   75.0  0.680000               Las Vegas
Los Angeles              89.0   54.0  143.0  0.622378             Los Angeles
Miami–Fort Lauderdale    44.0   30.0   74.0  0.594595   Miami–Fort Lauderdale
Minneapolis–Saint Paul   45.0   26.0   71.0  0.633803  Minneapolis–Saint Paul
Montreal                 29.0   40.0   69.0  0.420290                Montreal
Nashville                53.0   18.0   71.0  0.746479               Nashville
New York City           113.0  105.0  218.0  0.518349           New York City
Ottawa                   28.0   43.0   71.0  0.394366                  Ottawa
Philadelphia             42.0   26.0   68.0  0.617647            Philadelphia
Phoenix                  29.0   41.0   70.0  0.414286                 Phoenix
Pittsburgh               47.0   29.0   76.0  0.618421              Pittsburgh
Raleigh                  36.0   35.0   71.0  0.507042                 Raleigh
San Francisco Bay Area   45.0   27.0   72.0  0.625000  San Francisco Bay Area
St. Louis                44.0   32.0   76.0  0.578947               St. Louis
Tampa Bay Area           54.0   23.0   77.0  0.701299          Tampa Bay Area
Toronto                  49.0   26.0   75.0  0.653333                 Toronto
Vancouver                31.0   40.0   71.0  0.436620               Vancouver
Washington, D.C.         49.0   26.0   75.0  0.653333        Washington, D.C.
Winnipeg                 52.0   20.0   72.0  0.722222                Winnipeg

In [35]:
population_by_region = cities2['Population'].astype(float).to_list() # pass in metropolitan area population from cities
win_loss_by_region = nhl4_df['WL Ratio'].to_list() # pass in win/loss ratio from nhl_df in the same order as cities["Metropolitan area"]
stats.pearsonr(population_by_region, win_loss_by_region)

(-0.06136277141995489, 0.7564166001794312)

In [ ]:
#nhl4_df=pd.merge(nhl3_df,cities[['Metropolitan area','Population']],how='left',left_on='Metro area',right_on='Metropolitan area')
#nhl4_df

In [ ]:
#nhl4_df['Metro area']=nhl3_df.index
#nhl3_df=nhl3_df.reindex(cities["Metropolitan area"])

In [ ]:
#nhl5_df=nhl4_df[nhl4_df['WL Ratio'].isnull()==False]
#nhl5_df

In [ ]:
population_by_region = nhl5_df['Population'].astype(float).to_list() # pass in metropolitan area population from cities
win_loss_by_region = nhl5_df['WL Ratio'].to_list() # pass in win/loss ratio from nhl_df in the same order as cities["Metropolitan area"]
stats.pearsonr(population_by_region, win_loss_by_region)
#stats.pearsonr(nhl5_df['Population'].astype(float), nhl5_df['WL Ratio'])

In [ ]:
len(population_by_region)
nhl5_df['Population'].astype(float)

In [ ]:
len(win_loss_by_region)

In [2]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re


def nhl_correlation(): 
    cities=pd.read_html("assets/wikipedia_data.html")[1]
    cities=cities.iloc[:-1,[0,3,5,6,7,8]]
    cities.rename(columns={'Population (2016 est.)[8]':'Population'},inplace=True)
    # reset indices
    cities.index=np.arange(len(cities.index))

    # strip out notes
    pattern='(?P<team>[\w]*)[\[note\s\d\]]*$'
    #team = cities.NHL

    def team_split(f):
        for item in re.finditer(pattern, f):
            return item.groupdict()['team']

    cities=cities[['Metropolitan area','Population','NHL']]
    cities['NHL2']=cities['NHL'].apply(team_split)


    nhl_df=pd.read_csv("assets/nhl.csv")

    # extract just year 2018, remove rows containing Divison 
    nhl_df=nhl_df[nhl_df.year==2018]
    nhl_df=nhl_df[~nhl_df.team.str.contains('Division')]

    # reset indices
    nhl_df.index=np.arange(len(nhl_df.index))
    
    # Extract last word of team
    pattern='(?P<team>[\w]*)[\*]*$'
    #team = nhl_df.team

    def team_split(f):
        for item in re.finditer(pattern, f):
            return item.groupdict()['team']

    nhl_df['team2']=nhl_df['team'].apply(team_split)
    nhl_df['team2']

    
    nhl2_df=nhl_df
    for i,x in enumerate(nhl_df['team2']):
        if len(list(cities.index[cities['NHL2'].str.contains(x)==True]))>0:
            idx=int(list(cities.index[cities['NHL2'].str.contains(x)==True])[0])
            nhl2_df.loc[i,'M']=cities['Metropolitan area'][idx]
           
    # Sort by Metro area
    cities.sort_values(by='Metropolitan area',inplace=True)
    cities2=cities[cities.NHL2!='']

    
    nhl2_df.sort_values(by='M',inplace=True)
    nhl2_df.W=nhl2_df.W.astype(int)
    nhl2_df.L=nhl2_df.L.astype(int)
    
    
    # Group NHL data by Metro
    nhl3_df=nhl2_df.groupby(by=['M'])[['W','L']].sum()
    
    # Calculate Win/Loss Ratio fror NHL
    nhl3_df['W'] = nhl3_df['W'].astype(float)
    nhl3_df['L'] = nhl3_df['L'].astype(float)
    nhl3_df['WL']= nhl3_df['W'] + nhl3_df['L']
    nhl3_df['WL Ratio']= nhl3_df['W']/nhl3_df['WL']
    nhl3_df['Metro area']=nhl3_df.index
    #nhl3_df['WL Ratio']=nhl3_df['WL Ratio'].reindex(cities["Metropolitan area"])
    
    # reorder index
    nhl3_df=nhl3_df.reindex(cities["Metropolitan area"])
    nhl4_df=nhl3_df[nhl3_df['Metro area'].isnull()==False]


    #raise NotImplementedError()
    population_by_region = cities2['Population'].astype(float).to_list() # pass in metropolitan area population from cities
    win_loss_by_region = nhl4_df['WL Ratio'].to_list() # pass in win/loss ratio from nhl_df in the same order as cities["Metropolitan area"]
    
    assert len(population_by_region) == len(win_loss_by_region), "Q1: Your lists must be the same length"
    assert len(population_by_region) == 28, "Q1: There should be 28 teams being analysed for NHL"
    
    return stats.pearsonr(population_by_region, win_loss_by_region)[0]

In [54]:
nhl_correlation()

0.012308996455744249

## Question 2
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NBA** using **2018** data.

In [281]:
nba_df=pd.read_csv("assets/nba.csv")

# extract just year 2018, remove rows containing Divison 
nba_df=nba_df[nba_df.year==2018]

In [282]:
# Extract last word of team
pattern='(?P<team>[\w]*)[\*]*\s\(\d{1,2}\)$'
#team = nhl_df.team

def team_split(f):
    for item in re.finditer(pattern, f):
        return item.groupdict()['team']

nba_df['team2']=nba_df['team'].apply(team_split)
nba_df['team2']

0          Raptors
1          Celtics
2            76ers
3        Cavaliers
4           Pacers
5             Heat
6            Bucks
7          Wizards
8          Pistons
9          Hornets
10          Knicks
11            Nets
12           Bulls
13           Magic
14           Hawks
15         Rockets
16        Warriors
17         Blazers
18         Thunder
19            Jazz
20        Pelicans
21           Spurs
22    Timberwolves
23         Nuggets
24        Clippers
25          Lakers
26           Kings
27       Mavericks
28       Grizzlies
29            Suns
Name: team2, dtype: object

In [283]:
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]
cities.rename(columns={'Population (2016 est.)[8]':'Population'},inplace=True)
# reset indices
cities.index=np.arange(len(cities.index))
cities.head()

,Metropolitan area,Population,NFL,MLB,NBA,NHL
0,New York City,20153634,GiantsJets[note 1],YankeesMets[note 2],KnicksNets,RangersIslandersDevils[note 3]
1,Los Angeles,13310447,RamsChargers[note 4],DodgersAngels,LakersClippers,KingsDucks
2,San Francisco Bay Area,6657982,49ersRaiders[note 6],GiantsAthletics,Warriors,Sharks[note 7]
3,Chicago,9512999,Bears[note 8],CubsWhite Sox,Bulls[note 9],Blackhawks
4,Dallas–Fort Worth,7233323,Cowboys,Rangers,Mavericks,Stars

In [284]:
# strip out notes from cities NBA
pattern='(?P<team>[\w]*)[\[note\s\d\]]*$'

def team_split(f):
    for item in re.finditer(pattern, f):
        return item.groupdict()['team']

cities=cities[['Metropolitan area','Population','NBA']]
cities['NBA2']=cities['NBA'].apply(team_split)
cities

         Metropolitan area Population                 NBA            NBA2
0            New York City   20153634          KnicksNets      KnicksNets
1              Los Angeles   13310447      LakersClippers  LakersClippers
2   San Francisco Bay Area    6657982            Warriors        Warriors
3                  Chicago    9512999       Bulls[note 9]           Bulls
4        Dallas–Fort Worth    7233323           Mavericks       Mavericks
5         Washington, D.C.    6131977    Wizards[note 11]         Wizards
6             Philadelphia    6070500               76ers           76ers
7                   Boston    4794447             Celtics         Celtics
8   Minneapolis–Saint Paul    3551036        Timberwolves    Timberwolves
9                   Denver    2853077    Nuggets[note 17]         Nuggets
10   Miami–Fort Lauderdale    6066387                Heat            Heat
11                 Phoenix    4661537                Suns            Suns
12                 Detroit    4297617    Pistons[note 21]         Pistons
13                 Toronto    5928040    Raptors[note 23]         Raptors
14                 Houston    6772470             Rockets         Rockets
15                 Atlanta    5789700               Hawks           Hawks
16          Tampa Bay Area    3032171                   —
17              Pittsburgh    2342299           [note 27]
18               Cleveland    2055612  Cavaliers[note 31]       Cavaliers
19                 Seattle    3798902           [note 33]
20              Cincinnati    2165139           [note 36]
21             Kansas City    2104509           [note 38]
22               St. Louis    2807002           [note 42]
23               Baltimore    2798886           [note 47]
24               Charlotte    2474314    Hornets[note 49]         Hornets
25            Indianapolis    2004230     Pacers[note 51]          Pacers
26               Nashville    1865298                   —
27               Milwaukee    1572482               Bucks           Bucks
28             New Orleans    1268883   Pelicans[note 55]        Pelicans
29                 Buffalo    1132804           [note 58]
30                Montreal    4098927                   —
31               Vancouver    2463431           [note 60]
32                 Orlando    2441257               Magic           Magic
33                Portland    2424955       Trail Blazers         Blazers
34                Columbus    2041520                   —
35                 Calgary    1392609                   —
36                  Ottawa    1323783                   —
37                Edmonton    1321426                   —
38          Salt Lake City    1186187                Jazz            Jazz
39                Winnipeg     778489                   —
40               San Diego    3317749           [note 63]
41             San Antonio    2429609               Spurs           Spurs
42              Sacramento    2296418               Kings           Kings
43               Las Vegas    2155664                   —
44            Jacksonville    1478212                   —
45           Oklahoma City    1373211    Thunder[note 68]         Thunder
46                 Memphis    1342842           Grizzlies       Grizzlies
47                 Raleigh    1302946                   —
48               Green Bay     318236                   —
49                Hamilton     747545                   —
50                  Regina     236481                   —

In [285]:
list(cities.index[cities['NBA2'].str.contains('Raptors')==True])

[13]

In [286]:
nba2_df=nba_df
for i,x in enumerate(nba_df['team2']):
    if len(list(cities.index[cities['NBA2'].str.contains(x)==True]))>0:
        idx=int(list(cities.index[cities['NBA2'].str.contains(x)==True])[0])
        nba2_df.loc[i,'M']=cities['Metropolitan area'][idx]
nba2_df

,team,W,L,W/L%,GB,PS/G,PA/G,SRS,year,League,team2,M
0,Toronto Raptors* (1),59,23,0.72,—,111.7,103.9,7.29,2018,NBA,Raptors,Toronto
1,Boston Celtics* (2),55,27,0.6709999999999999,4.0,104.0,100.4,3.23,2018,NBA,Celtics,Boston
2,Philadelphia 76ers* (3),52,30,0.634,7.0,109.8,105.3,4.3,2018,NBA,76ers,Philadelphia
3,Cleveland Cavaliers* (4),50,32,0.61,9.0,110.9,109.9,0.59,2018,NBA,Cavaliers,Cleveland
4,Indiana Pacers* (5),48,34,0.585,11.0,105.6,104.2,1.18,2018,NBA,Pacers,Indianapolis
5,Miami Heat* (6),44,38,0.537,15.0,103.4,102.9,0.15,2018,NBA,Heat,Miami–Fort Lauderdale
6,Milwaukee Bucks* (7),44,38,0.537,15.0,106.5,106.8,-0.45,2018,NBA,Bucks,Milwaukee
7,Washington Wizards* (8),43,39,0.524,16.0,106.6,106.0,0.53,2018,NBA,Wizards,"Washington, D.C."
8,Detroit Pistons (9),39,43,0.47600000000000003,20.0,103.8,103.9,-0.26,2018,NBA,Pistons,Detroit
9,Charlotte Hornets (10),36,46,0.439,23.0,108.2,108.0,0.07,2018,NBA,Hornets,Charlotte
10,New York Knicks (11),29,53,0.354,30.0,104.5,108.0,-3.53,2018,NBA,Knicks,New York City
11,Brooklyn Nets (12),28,54,0.341,31.0,106.6,110.3,-3.67,2018,NBA,Nets,New York City
12,Chicago Bulls (13),27,55,0.32899999999999996,32.0,102.9,110.0,-6.84,2018,NBA,Bulls,Chicago
13,Orlando Magic (14),25,57,0.305,34.0,103.4,108.2,-4.92,2018,NBA,Magic,Orlando
14,Atlanta Hawks (15),24,58,0.293,35.0,103.4,108.8,-5.3,2018,NBA,Hawks,Atlanta
15,Houston Rockets* (1),65,17,0.7929999999999999,—,112.4,103.9,8.21,2018,NBA,Rockets,Houston
16,Golden State Warriors* (2),58,24,0.7070000000000001,7.0,113.5,107.5,5.79,2018,NBA,Warriors,San Francisco Bay Area
17,Portland Trail Blazers* (3),49,33,0.598,16.0,105.6,103.0,2.6,2018,NBA,Blazers,Portland
18,Oklahoma City Thunder* (4),48,34,0.585,17.0,107.9,104.4,3.42,2018,NBA,Thunder,Oklahoma City
19,Utah Jazz* (5),48,34,0.585,17.0,104.1,99.8,4.47,2018,NBA,Jazz,Salt Lake City
20,New Orleans Pelicans* (6),48,34,0.585,17.0,111.7,110.4,1.48,2018,NBA,Pelicans,New Orleans
21,San Antonio Spurs* (7),47,35,0.573,18.0,102.7,99.8,2.89,2018,NBA,Spurs,San Antonio
22,Minnesota Timberwolves* (8),47,35,0.573,18.0,109.5,107.3,2.35,2018,NBA,Timberwolves,Minneapolis–Saint Paul
23,Denver Nuggets (9),46,36,0.561,19.0,110.0,108.5,1.57,2018,NBA,Nuggets,Denver
24,Los Angeles Clippers (10),42,40,0.512,23.0,109.0,109.0,0.15,2018,NBA,Clippers,Los Angeles
25,Los Angeles Lakers (11),35,47,0.42700000000000005,30.0,108.1,109.6,-1.44,2018,NBA,Lakers,Los Angeles
26,Sacramento Kings (12),27,55,0.32899999999999996,38.0,98.8,105.8,-6.6,2018,NBA,Kings,Sacramento
27,Dallas Mavericks (13),24,58,0.293,41.0,102.3,105.4,-2.7,2018,NBA,Mavericks,Dallas–Fort Worth
28,Memphis Grizzlies (14),22,60,0.268,43.0,99.3,105.5,-5.81,2018,NBA,Grizzlies,Memphis
29,Phoenix Suns (15),21,61,0.256,44.0,103.9,113.3,-8.8,2018,NBA,Suns,Phoenix

In [287]:
# Sort by Metro area
cities.sort_values(by='Metropolitan area',inplace=True)
cities2=cities[cities.NBA2!='']
cities2.head()

   Metropolitan area Population                 NBA       NBA2
15           Atlanta    5789700               Hawks      Hawks
7             Boston    4794447             Celtics    Celtics
24         Charlotte    2474314    Hornets[note 49]    Hornets
3            Chicago    9512999       Bulls[note 9]      Bulls
18         Cleveland    2055612  Cavaliers[note 31]  Cavaliers

In [288]:
nba2_df.sort_values(by='M',inplace=True)
nba2_df.W=nba2_df.W.astype(int)
nba2_df.L=nba2_df.L.astype(int)
    
# Group NHL data by Metro
nba3_df=nba_df.groupby(by=['M'])[['W','L']].sum()
    
# Calculate Win/Loss Ratio fror NHL
nba3_df['W'] = nba3_df['W'].astype(float)
nba3_df['L'] = nba3_df['L'].astype(float)
nba3_df['WL']= nba3_df['W'] + nba3_df['L']
nba3_df

                           W      L     WL
M
Atlanta                 24.0   58.0   82.0
Boston                  55.0   27.0   82.0
Charlotte               36.0   46.0   82.0
Chicago                 27.0   55.0   82.0
Cleveland               50.0   32.0   82.0
Dallas–Fort Worth       24.0   58.0   82.0
Denver                  46.0   36.0   82.0
Detroit                 39.0   43.0   82.0
Houston                 65.0   17.0   82.0
Indianapolis            48.0   34.0   82.0
Los Angeles             77.0   87.0  164.0
Memphis                 22.0   60.0   82.0
Miami–Fort Lauderdale   44.0   38.0   82.0
Milwaukee               44.0   38.0   82.0
Minneapolis–Saint Paul  47.0   35.0   82.0
New Orleans             48.0   34.0   82.0
New York City           57.0  107.0  164.0
Oklahoma City           48.0   34.0   82.0
Orlando                 25.0   57.0   82.0
Philadelphia            52.0   30.0   82.0
Phoenix                 21.0   61.0   82.0
Portland                49.0   33.0   82.0
Sacramento              27.0   55.0   82.0
Salt Lake City          48.0   34.0   82.0
San Antonio             47.0   35.0   82.0
San Francisco Bay Area  58.0   24.0   82.0
Toronto                 59.0   23.0   82.0
Washington, D.C.        43.0   39.0   82.0

In [289]:
nba3_df['WL Ratio']= nba3_df['W']/nba3_df['WL']
nba3_df['Metro area']=nba3_df.index
     
# reorder index
nba3_df=nba3_df.reindex(cities["Metropolitan area"])
nba4_df=nba3_df[nba3_df['Metro area'].isnull()==False]

nba4_df

                           W      L     WL  WL Ratio              Metro area
Metropolitan area
Atlanta                 24.0   58.0   82.0  0.292683                 Atlanta
Boston                  55.0   27.0   82.0  0.670732                  Boston
Charlotte               36.0   46.0   82.0  0.439024               Charlotte
Chicago                 27.0   55.0   82.0  0.329268                 Chicago
Cleveland               50.0   32.0   82.0  0.609756               Cleveland
Dallas–Fort Worth       24.0   58.0   82.0  0.292683       Dallas–Fort Worth
Denver                  46.0   36.0   82.0  0.560976                  Denver
Detroit                 39.0   43.0   82.0  0.475610                 Detroit
Houston                 65.0   17.0   82.0  0.792683                 Houston
Indianapolis            48.0   34.0   82.0  0.585366            Indianapolis
Los Angeles             77.0   87.0  164.0  0.469512             Los Angeles
Memphis                 22.0   60.0   82.0  0.268293                 Memphis
Miami–Fort Lauderdale   44.0   38.0   82.0  0.536585   Miami–Fort Lauderdale
Milwaukee               44.0   38.0   82.0  0.536585               Milwaukee
Minneapolis–Saint Paul  47.0   35.0   82.0  0.573171  Minneapolis–Saint Paul
New Orleans             48.0   34.0   82.0  0.585366             New Orleans
New York City           57.0  107.0  164.0  0.347561           New York City
Oklahoma City           48.0   34.0   82.0  0.585366           Oklahoma City
Orlando                 25.0   57.0   82.0  0.304878                 Orlando
Philadelphia            52.0   30.0   82.0  0.634146            Philadelphia
Phoenix                 21.0   61.0   82.0  0.256098                 Phoenix
Portland                49.0   33.0   82.0  0.597561                Portland
Sacramento              27.0   55.0   82.0  0.329268              Sacramento
Salt Lake City          48.0   34.0   82.0  0.585366          Salt Lake City
San Antonio             47.0   35.0   82.0  0.573171             San Antonio
San Francisco Bay Area  58.0   24.0   82.0  0.707317  San Francisco Bay Area
Toronto                 59.0   23.0   82.0  0.719512                 Toronto
Washington, D.C.        43.0   39.0   82.0  0.524390        Washington, D.C.

In [37]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re


def nba_correlation():
    nba_df=pd.read_csv("assets/nba.csv")
    # extract just year 2018, remove rows containing Divison 
    nba_df=nba_df[nba_df.year==2018]
    
    # Extract last word of team
    pattern='(?P<team>[\w]*)[\*]*\s\(\d{1,2}\)$'
    def team_split(f):
        for item in re.finditer(pattern, f):
            return item.groupdict()['team']
    nba_df['team2']=nba_df['team'].apply(team_split)
    
    cities=pd.read_html("assets/wikipedia_data.html")[1]
    cities=cities.iloc[:-1,[0,3,5,6,7,8]]
    cities.rename(columns={'Population (2016 est.)[8]':'Population'},inplace=True)
    # reset indices
    cities.index=np.arange(len(cities.index))

    # strip out notes from cities NBA
    pattern='(?P<team>[\w]*)[\[note\s\d\]]*$'
    def team_split(f):
        for item in re.finditer(pattern, f):
            return item.groupdict()['team']
    cities=cities[['Metropolitan area','Population','NBA']]
    cities['NBA2']=cities['NBA'].apply(team_split)

    nba2_df=nba_df
    for i,x in enumerate(nba_df['team2']):
        if len(list(cities.index[cities['NBA2'].str.contains(x)==True]))>0:
            idx=int(list(cities.index[cities['NBA2'].str.contains(x)==True])[0])
            nba2_df.loc[i,'M']=cities['Metropolitan area'][idx]
            
    # Sort by Metro area
    cities.sort_values(by='Metropolitan area',inplace=True)
    cities2=cities[cities.NBA2!='']

    nba2_df.sort_values(by='M',inplace=True)
    nba2_df.W=nba2_df.W.astype(int)
    nba2_df.L=nba2_df.L.astype(int)
    
    # Group NHL data by Metro
    nba3_df=nba2_df.groupby(by=['M'])[['W','L']].sum()
    
    # Calculate Win/Loss Ratio fror NHL
    nba3_df['W'] = nba3_df['W'].astype(float)
    nba3_df['L'] = nba3_df['L'].astype(float)
    nba3_df['WL']= nba3_df['W'] + nba3_df['L']
    nba3_df['WL Ratio']= nba3_df['W']/nba3_df['WL']
    nba3_df['Metro area']=nba3_df.index
     
    # reorder index
    nba3_df=nba3_df.reindex(cities["Metropolitan area"])
    nba4_df=nba3_df[nba3_df['Metro area'].isnull()==False]

    #raise NotImplementedError()

    population_by_region = cities2['Population'].astype(float).to_list() # pass in metropolitan area population from cities
    win_loss_by_region = nba4_df['WL Ratio'].to_list() # pass in win/loss ratio from nhl_df in the same order as cities["Metropolitan area"]
    
    assert len(population_by_region) == len(win_loss_by_region), "Q2: Your lists must be the same length"
    assert len(population_by_region) == 28, "Q2: There should be 28 teams being analysed for NBA"

    return stats.pearsonr(population_by_region, win_loss_by_region)[0]

In [100]:
nba_correlation()

-0.17657160252844617

## Question 3
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **MLB** using **2018** data.

In [80]:
mlb_df=pd.read_csv("assets/mlb.csv")

# extract just year 2018, remove rows containing Divison 
mlb_df=mlb_df[mlb_df.year==2018]
mlb_df.head()

                team    W    L   W-L%    GB  year League
0     Boston Red Sox  108   54  0.667    --  2018    MLB
1   New York Yankees  100   62  0.617   8.0  2018    MLB
2     Tampa Bay Rays   90   72  0.556  18.0  2018    MLB
3  Toronto Blue Jays   73   89  0.451  35.0  2018    MLB
4  Baltimore Orioles   47  115  0.290  61.0  2018    MLB

In [81]:
# Extract last word of team
pattern1='(?P<team>[\w]*\s[\w]*)$'
#pattern1='(?P<team>[\w]*)\s[\w]*$|(?P<team>[\w]*)[\*]*\s\(\d{1,2}\)$'
pattern2='(?P<team>[\w]*)$'

def team_split(f):
    word_count=len(f.strip().split(" "))
    print(f, ", ", word_count)
    if word_count>2: # extract last two words
        for item in re.finditer(pattern1, f):
            return item.groupdict()['team']
    else: # extract last word
        for item in re.finditer(pattern2, f): # extract last word only
            return item.groupdict()['team']   

mlb_df['team2']=mlb_df['team'].apply(team_split)
mlb_df['team2']

Boston Red Sox ,  3
New York Yankees ,  3
Tampa Bay Rays ,  3
Toronto Blue Jays ,  3
Baltimore Orioles ,  2
Cleveland Indians ,  2
Minnesota Twins ,  2
Detroit Tigers ,  2
Chicago White Sox ,  3
Kansas City Royals ,  3
Houston Astros ,  2
Oakland Athletics ,  2
Seattle Mariners ,  2
Los Angeles Angels ,  3
Texas Rangers ,  2
Atlanta Braves ,  2
Washington Nationals ,  2
Philadelphia Phillies ,  2
New York Mets ,  3
Miami Marlins ,  2
Milwaukee Brewers ,  2
Chicago Cubs ,  2
St. Louis Cardinals ,  3
Pittsburgh Pirates ,  2
Cincinnati Reds ,  2
Los Angeles Dodgers ,  3
Colorado Rockies ,  2
Arizona Diamondbacks ,  2
San Francisco Giants ,  3
San Diego Padres ,  3

0              Red Sox
1         York Yankees
2             Bay Rays
3            Blue Jays
4              Orioles
5              Indians
6                Twins
7               Tigers
8            White Sox
9          City Royals
10              Astros
11           Athletics
12            Mariners
13      Angeles Angels
14             Rangers
15              Braves
16           Nationals
17            Phillies
18           York Mets
19             Marlins
20             Brewers
21                Cubs
22     Louis Cardinals
23             Pirates
24                Reds
25     Angeles Dodgers
26             Rockies
27        Diamondbacks
28    Francisco Giants
29        Diego Padres
Name: team2, dtype: object

In [82]:
name_fix={
    'York Yankees':'Yankees',
    'Angeles Angels':'Angels',
    'Francisco Giants':'Giants',
    'Diego Padres':'Padres',
    'York Mets':'Mets',
    'Bay Rays':'Rays',
    'City Royals':'Royals',
    'Louis Cardinals':'Cardinals',
    'Angeles Dodgers':'Dodgers'
}

In [83]:
mlb_df['team2'].replace(name_fix,inplace=True)
mlb_df[['team','team2']].head()

                team      team2
0     Boston Red Sox    Red Sox
1   New York Yankees    Yankees
2     Tampa Bay Rays       Rays
3  Toronto Blue Jays  Blue Jays
4  Baltimore Orioles    Orioles

In [84]:
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]
cities.rename(columns={'Population (2016 est.)[8]':'Population'},inplace=True)
# reset indices
cities.index=np.arange(len(cities.index))

In [85]:
# strip out notes from cities MLB
pattern='(?P<team>[\w\s]*)[\[note\s\d\]]*$'
def team_split(f):
    for item in re.finditer(pattern, f):
        return item.groupdict()['team']
cities=cities[['Metropolitan area','Population','MLB']]
cities['MLB2']=cities['MLB'].apply(team_split)
cities['MLB2'].head()

0        YankeesMets
1      DodgersAngels
2    GiantsAthletics
3      CubsWhite Sox
4            Rangers
Name: MLB2, dtype: object

In [86]:
mlb2_df=mlb_df
for i,x in enumerate(mlb_df['team2']):
    if len(list(cities.index[cities['MLB2'].str.contains(x)==True]))>0:
        idx=int(list(cities.index[cities['MLB2'].str.contains(x)==True])[0])
        mlb2_df.loc[i,'M']=cities['Metropolitan area'][idx]
#mlb2_df[mlb2_df['M'].isna()]
mlb2_df

,team,W,L,W-L%,GB,year,League,team2,M
0,Boston Red Sox,108,54,0.667,--,2018,MLB,Red Sox,Boston
1,New York Yankees,100,62,0.617,8.0,2018,MLB,Yankees,New York City
2,Tampa Bay Rays,90,72,0.556,18.0,2018,MLB,Rays,Tampa Bay Area
3,Toronto Blue Jays,73,89,0.451,35.0,2018,MLB,Blue Jays,Toronto
4,Baltimore Orioles,47,115,0.290,61.0,2018,MLB,Orioles,Baltimore
5,Cleveland Indians,91,71,0.562,--,2018,MLB,Indians,Cleveland
6,Minnesota Twins,78,84,0.481,13.0,2018,MLB,Twins,Minneapolis–Saint Paul
7,Detroit Tigers,64,98,0.395,27.0,2018,MLB,Tigers,Detroit
8,Chicago White Sox,62,100,0.383,29.0,2018,MLB,White Sox,Chicago
9,Kansas City Royals,58,104,0.358,33.0,2018,MLB,Royals,Kansas City
10,Houston Astros,103,59,0.636,--,2018,MLB,Astros,Houston
11,Oakland Athletics,97,65,0.599,6.0,2018,MLB,Athletics,San Francisco Bay Area
12,Seattle Mariners,89,73,0.549,14.0,2018,MLB,Mariners,Seattle
13,Los Angeles Angels,80,82,0.494,23.0,2018,MLB,Angels,Los Angeles
14,Texas Rangers,67,95,0.414,36.0,2018,MLB,Rangers,Dallas–Fort Worth
15,Atlanta Braves,90,72,0.556,--,2018,MLB,Braves,Atlanta
16,Washington Nationals,82,80,0.506,8.0,2018,MLB,Nationals,"Washington, D.C."
17,Philadelphia Phillies,80,82,0.494,10.0,2018,MLB,Phillies,Philadelphia
18,New York Mets,77,85,0.475,13.0,2018,MLB,Mets,New York City
19,Miami Marlins,63,98,0.391,26.5,2018,MLB,Marlins,Miami–Fort Lauderdale
20,Milwaukee Brewers,96,67,0.589,--,2018,MLB,Brewers,Milwaukee
21,Chicago Cubs,95,68,0.583,1.0,2018,MLB,Cubs,Chicago
22,St. Louis Cardinals,88,74,0.543,7.5,2018,MLB,Cardinals,St. Louis
23,Pittsburgh Pirates,82,79,0.509,13.0,2018,MLB,Pirates,Pittsburgh
24,Cincinnati Reds,67,95,0.414,28.5,2018,MLB,Reds,Cincinnati
25,Los Angeles Dodgers,92,71,0.564,--,2018,MLB,Dodgers,Los Angeles
26,Colorado Rockies,91,72,0.558,1.0,2018,MLB,Rockies,Denver
27,Arizona Diamondbacks,82,80,0.506,9.5,2018,MLB,Diamondbacks,Phoenix
28,San Francisco Giants,73,89,0.451,18.5,2018,MLB,Giants,San Francisco Bay Area
29,San Diego Padres,66,96,0.407,25.5,2018,MLB,Padres,San Diego

In [87]:
# Sort by Metro area
cities.sort_values(by='Metropolitan area',inplace=True)
cities2=cities[cities.MLB2!='']
cities2.head()

   Metropolitan area Population               MLB           MLB2
15           Atlanta    5789700            Braves         Braves
23         Baltimore    2798886  Orioles[note 46]        Orioles
7             Boston    4794447  Red Sox[note 15]        Red Sox
3            Chicago    9512999     CubsWhite Sox  CubsWhite Sox
20        Cincinnati    2165139     Reds[note 35]           Reds

In [88]:
mlb2_df.sort_values(by='M',inplace=True)
mlb2_df.W=mlb2_df.W.astype(int)
mlb2_df.L=mlb2_df.L.astype(int)

In [89]:
# Group NHL data by Metro
mlb3_df=mlb2_df.groupby(by=['M'])[['W','L']].sum()

In [90]:
# Calculate Win/Loss Ratio fror NHL
#    mlb3_df['W'] = mlb3_df['W'].astype(float)
#    mlb3_df['L'] = mlb3_df['L'].astype(float)
mlb3_df['WL']= mlb3_df['W'] + mlb3_df['L']
mlb3_df['WL Ratio']= mlb3_df['W']/mlb3_df['WL']
mlb3_df['Metro area']=mlb3_df.index

In [91]:
# reorder index
mlb3_df=mlb3_df.reindex(cities["Metropolitan area"])
mlb4_df=mlb3_df[mlb3_df['Metro area'].isnull()==False]

In [92]:
mlb4_df

                            W      L     WL  WL Ratio              Metro area
Metropolitan area
Atlanta                  90.0   72.0  162.0  0.555556                 Atlanta
Baltimore                47.0  115.0  162.0  0.290123               Baltimore
Boston                  108.0   54.0  162.0  0.666667                  Boston
Chicago                 157.0  168.0  325.0  0.483077                 Chicago
Cincinnati               67.0   95.0  162.0  0.413580              Cincinnati
Cleveland                91.0   71.0  162.0  0.561728               Cleveland
Dallas–Fort Worth        67.0   95.0  162.0  0.413580       Dallas–Fort Worth
Denver                   91.0   72.0  163.0  0.558282                  Denver
Detroit                  64.0   98.0  162.0  0.395062                 Detroit
Houston                 103.0   59.0  162.0  0.635802                 Houston
Kansas City              58.0  104.0  162.0  0.358025             Kansas City
Los Angeles             172.0  153.0  325.0  0.529231             Los Angeles
Miami–Fort Lauderdale    63.0   98.0  161.0  0.391304   Miami–Fort Lauderdale
Milwaukee                96.0   67.0  163.0  0.588957               Milwaukee
Minneapolis–Saint Paul   78.0   84.0  162.0  0.481481  Minneapolis–Saint Paul
New York City           177.0  147.0  324.0  0.546296           New York City
Philadelphia             80.0   82.0  162.0  0.493827            Philadelphia
Phoenix                  82.0   80.0  162.0  0.506173                 Phoenix
Pittsburgh               82.0   79.0  161.0  0.509317              Pittsburgh
San Diego                66.0   96.0  162.0  0.407407               San Diego
San Francisco Bay Area  170.0  154.0  324.0  0.524691  San Francisco Bay Area
Seattle                  89.0   73.0  162.0  0.549383                 Seattle
St. Louis                88.0   74.0  162.0  0.543210               St. Louis
Tampa Bay Area           90.0   72.0  162.0  0.555556          Tampa Bay Area
Toronto                  73.0   89.0  162.0  0.450617                 Toronto
Washington, D.C.         82.0   80.0  162.0  0.506173        Washington, D.C.

In [93]:
cities2

         Metropolitan area Population                  MLB             MLB2
15                 Atlanta    5789700               Braves           Braves
23               Baltimore    2798886     Orioles[note 46]          Orioles
7                   Boston    4794447     Red Sox[note 15]          Red Sox
3                  Chicago    9512999        CubsWhite Sox    CubsWhite Sox
20              Cincinnati    2165139        Reds[note 35]             Reds
18               Cleveland    2055612     Indians[note 30]          Indians
4        Dallas–Fort Worth    7233323              Rangers          Rangers
9                   Denver    2853077              Rockies          Rockies
12                 Detroit    4297617      Tigers[note 20]           Tigers
14                 Houston    6772470               Astros           Astros
21             Kansas City    2104509      Royals[note 37]           Royals
1              Los Angeles   13310447        DodgersAngels    DodgersAngels
10   Miami–Fort Lauderdale    6066387              Marlins          Marlins
27               Milwaukee    1572482     Brewers[note 54]          Brewers
8   Minneapolis–Saint Paul    3551036                Twins            Twins
0            New York City   20153634  YankeesMets[note 2]      YankeesMets
6             Philadelphia    6070500    Phillies[note 12]         Phillies
11                 Phoenix    4661537         Diamondbacks     Diamondbacks
17              Pittsburgh    2342299              Pirates          Pirates
40               San Diego    3317749               Padres           Padres
2   San Francisco Bay Area    6657982      GiantsAthletics  GiantsAthletics
19                 Seattle    3798902             Mariners         Mariners
22               St. Louis    2807002   Cardinals[note 41]        Cardinals
16          Tampa Bay Area    3032171                 Rays             Rays
13                 Toronto    5928040            Blue Jays        Blue Jays
5         Washington, D.C.    6131977   Nationals[note 10]        Nationals

In [94]:
population_by_region = cities2['Population'].astype(float).to_list() # pass in metropolitan area population from cities
win_loss_by_region = mlb4_df['WL Ratio'].to_list() # pass in win/loss ratio from nhl_df in the same order as cities["Metropolitan area"]

In [60]:
len(population_by_region)

26

In [61]:
len(win_loss_by_region)

25

In [95]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

#mlb_df=pd.read_csv("assets/mlb.csv")
#cities=pd.read_html("assets/wikipedia_data.html")[1]
#cities=cities.iloc[:-1,[0,3,5,6,7,8]]

def mlb_correlation(): 
    mlb_df=pd.read_csv("assets/mlb.csv")
    # extract just year 2018, remove rows containing Divison 
    mlb_df=mlb_df[mlb_df.year==2018]
     # Extract last word of team
    pattern1='(?P<team>[\w]*\s[\w]*)$'
    pattern2='(?P<team>[\w]*)$'
    def team_split(f):
        word_count=len(f.strip().split(" "))
        if word_count>2: # extract last two words
            for item in re.finditer(pattern1, f):
                return item.groupdict()['team']
        else: # extract last word
            for item in re.finditer(pattern2, f): # extract last word only
                return item.groupdict()['team']   

    mlb_df['team2']=mlb_df['team'].apply(team_split)
    
    # Fix team names
    name_fix={
        'York Yankees':'Yankees',
        'Angeles Angels':'Angels',
        'Francisco Giants':'Giants',
        'Diego Padres':'Padres',
        'York Mets':'Mets',
        'Bay Rays':'Rays',
        'City Royals':'Royals',
        'Louis Cardinals':'Cardinals',
        'Angeles Dodgers':'Dodgers'
    }
    mlb_df['team2'].replace(name_fix,inplace=True)
    
    
    cities=pd.read_html("assets/wikipedia_data.html")[1]
    cities=cities.iloc[:-1,[0,3,5,6,7,8]]
    cities.rename(columns={'Population (2016 est.)[8]':'Population'},inplace=True)
    # reset indices
    cities.index=np.arange(len(cities.index))
    
    # strip out notes from cities MLB
    pattern='(?P<team>[\w\s]*)[\[note\s\d\]]*$'
    def team_split(f):
        for item in re.finditer(pattern, f):
            return item.groupdict()['team']
    cities=cities[['Metropolitan area','Population','MLB']]
    cities['MLB2']=cities['MLB'].apply(team_split)
    
    mlb2_df=mlb_df
    for i,x in enumerate(mlb_df['team2']):
        if len(list(cities.index[cities['MLB2'].str.contains(x)==True]))>0:
            idx=int(list(cities.index[cities['MLB2'].str.contains(x)==True])[0])
            mlb2_df.loc[i,'M']=cities['Metropolitan area'][idx]    
    
    # Sort by Metro area
    cities.sort_values(by='Metropolitan area',inplace=True)
    cities2=cities[cities.MLB2!='']

    mlb2_df.sort_values(by='M',inplace=True)
    mlb2_df.W=mlb2_df.W.astype(int)
    mlb2_df.L=mlb2_df.L.astype(int)
    
    # Group NHL data by Metro
    mlb3_df=mlb2_df.groupby(by=['M'])[['W','L']].sum()
    
    # Calculate Win/Loss Ratio fror NHL
    mlb3_df['WL']= mlb3_df['W'] + mlb3_df['L']
    mlb3_df['WL Ratio']= mlb3_df['W']/mlb3_df['WL']
    mlb3_df['Metro area']=mlb3_df.index    
    
    # reorder index
    mlb3_df=mlb3_df.reindex(cities["Metropolitan area"])
    mlb4_df=mlb3_df[mlb3_df['Metro area'].isnull()==False]
    
    
    #raise NotImplementedError()
    
    population_by_region = cities2['Population'].astype(float).to_list() # pass in metropolitan area population from cities
    win_loss_by_region = mlb4_df['WL Ratio'].to_list() # pass in win/loss ratio from nhl_df in the same order as cities["Metropolitan area"]

    assert len(population_by_region) == len(win_loss_by_region), "Q3: Your lists must be the same length"
    assert len(population_by_region) == 26, "Q3: There should be 26 teams being analysed for MLB"

    return stats.pearsonr(population_by_region, win_loss_by_region)[0]

In [96]:
mlb_correlation()

0.1505230448710485

## Question 4
For this question, calculate the win/loss ratio's correlation with the population of the city it is in for the **NFL** using **2018** data.

In [173]:
nfl_df=pd.read_csv("assets/nfl.csv")

# extract just year 2018, remove rows containing Divison 
nfl_df=nfl_df[nfl_df.year==2018]
nfl_df.head()

,DSRS,L,League,MoV,OSRS,PA,PD,PF,SRS,SoS,T,W,W-L%,team,year
0,AFC East,AFC East,NFL,AFC East,AFC East,AFC East,AFC East,AFC East,AFC East,AFC East,AFC East,AFC East,AFC East,AFC East,2018
1,2.1,5,NFL,6.9,3.1,325,111,436,5.2,-1.8,0,11,.688,New England Patriots*,2018
2,-5.2,9,NFL,-7.1,-3.6,433,-114,319,-8.8,-1.7,0,7,.438,Miami Dolphins,2018
3,-0.6,10,NFL,-6.6,-6.3,374,-105,269,-6.9,-0.3,0,6,.375,Buffalo Bills,2018
4,-5.9,12,NFL,-6.8,-2.0,441,-108,333,-7.8,-1.1,0,4,.250,New York Jets,2018

In [174]:
# Extract last word of team
#attern1='(?P<team>[\w]*\s[\w]*)[\*+]*$'
pattern='(?P<team>[\w]*)[\*+]*$'

def team_split(f):
    first_word=f.strip().split(" ")[0]
    #rint(f, ", ", first_word)
    if re.search('(^AFC)|(^NFC)',first_word): # extract last two words
        return 'Conference'
    else: # extract last word
        for item in re.finditer(pattern, f): # extract last word only
            return item.groupdict()['team']   

nfl_df['team2']=nfl_df['team'].apply(team_split)
nfl_df=nfl_df[nfl_df['team2']!='Conference']
nfl_df[['team','team2']].head(10)
# reindex dataframe
nfl_df.reset_index(inplace=True)

In [175]:
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]
cities.rename(columns={'Population (2016 est.)[8]':'Population'},inplace=True)
# reset indices
cities.index=np.arange(len(cities.index))

In [176]:
# strip out notes from cities NFL
pattern='(?P<team>[\w\s]*)[\[note\s\d\]]*$'
def team_split(f):
    for item in re.finditer(pattern, f):
        return item.groupdict()['team']
cities=cities[['Metropolitan area','Population','NFL']]
cities['NFL2']=cities['NFL'].apply(team_split)
cities.head(10)

        Metropolitan area Population                   NFL          NFL2
0           New York City   20153634    GiantsJets[note 1]    GiantsJets
1             Los Angeles   13310447  RamsChargers[note 4]  RamsChargers
2  San Francisco Bay Area    6657982  49ersRaiders[note 6]  49ersRaiders
3                 Chicago    9512999         Bears[note 8]         Bears
4       Dallas–Fort Worth    7233323               Cowboys       Cowboys
5        Washington, D.C.    6131977              Redskins      Redskins
6            Philadelphia    6070500                Eagles        Eagles
7                  Boston    4794447     Patriots[note 14]      Patriots
8  Minneapolis–Saint Paul    3551036               Vikings       Vikings
9                  Denver    2853077               Broncos       Broncos

In [177]:
nfl2_df=nfl_df
for i,x in enumerate(nfl_df['team2']):
    print(i,x)
    if len(list(cities.index[cities['NFL2'].str.contains(x)==True]))>0:
        idx=int(list(cities.index[cities['NFL2'].str.contains(x)==True])[0])
        nfl2_df.loc[i,'M']=cities['Metropolitan area'][idx]
nfl2_df.head()

0 Patriots
1 Dolphins
2 Bills
3 Jets
4 Ravens
5 Steelers
6 Browns
7 Bengals
8 Texans
9 Colts
10 Titans
11 Jaguars
12 Chiefs
13 Chargers
14 Broncos
15 Raiders
16 Cowboys
17 Eagles
18 Redskins
19 Giants
20 Bears
21 Vikings
22 Packers
23 Lions
24 Saints
25 Panthers
26 Falcons
27 Buccaneers
28 Rams
29 Seahawks
30 49ers
31 Cardinals

,index,DSRS,L,League,MoV,OSRS,PA,PD,PF,SRS,SoS,T,W,W-L%,team,year,team2,M
0,1,2.1,5,NFL,6.9,3.1,325,111,436,5.2,-1.8,0,11,.688,New England Patriots*,2018,Patriots,Boston
1,2,-5.2,9,NFL,-7.1,-3.6,433,-114,319,-8.8,-1.7,0,7,.438,Miami Dolphins,2018,Dolphins,Miami–Fort Lauderdale
2,3,-0.6,10,NFL,-6.6,-6.3,374,-105,269,-6.9,-0.3,0,6,.375,Buffalo Bills,2018,Bills,Buffalo
3,4,-5.9,12,NFL,-6.8,-2.0,441,-108,333,-7.8,-1.1,0,4,.250,New York Jets,2018,Jets,New York City
4,6,6.4,6,NFL,6.4,0.6,287,102,389,7.0,0.6,0,10,.625,Baltimore Ravens*,2018,Ravens,Baltimore
5,7,1.7,6,NFL,4.3,3.9,360,68,428,5.6,1.3,1,9,.594,Pittsburgh Steelers,2018,Steelers,Pittsburgh
6,8,0.6,8,NFL,-2.1,-1.0,392,-33,359,-0.3,1.7,1,7,.469,Cleveland Browns,2018,Browns,Cleveland
7,9,-3.4,10,NFL,-5.4,0.0,455,-87,368,-3.4,2.0,0,6,.375,Cincinnati Bengals,2018,Bengals,Cincinnati
8,11,1.4,5,NFL,5.4,2.4,316,86,402,3.8,-1.5,0,11,.688,Houston Texans*,2018,Texans,Houston
9,12,-0.6,6,NFL,5.6,3.9,344,89,433,3.4,-2.2,0,10,.625,Indianapolis Colts+,2018,Colts,Indianapolis
10,13,3.5,7,NFL,0.4,-3.2,303,7,310,0.2,-0.2,0,9,.563,Tennessee Titans,2018,Titans,Nashville
11,14,4.0,11,NFL,-4.4,-8.1,316,-71,245,-4.0,0.4,0,5,.313,Jacksonville Jaguars,2018,Jaguars,Jacksonville
12,16,-3.8,4,NFL,9.0,12.6,421,144,565,8.9,-0.1,0,12,.750,Kansas City Chiefs*,2018,Chiefs,Kansas City
13,17,2.9,4,NFL,6.2,3.0,329,99,428,6.0,-0.2,0,12,.750,Los Angeles Chargers+,2018,Chargers,Los Angeles
14,18,3.1,10,NFL,-1.3,-3.6,349,-20,329,-0.5,0.7,0,6,.375,Denver Broncos,2018,Broncos,Denver
15,19,-4.1,12,NFL,-11.1,-5.2,467,-177,290,-9.3,1.8,0,4,.250,Oakland Raiders,2018,Raiders,San Francisco Bay Area
16,21,2.9,6,NFL,0.9,-1.9,324,15,339,1.1,0.2,0,10,.625,Dallas Cowboys*,2018,Cowboys,Dallas–Fort Worth
17,22,1.8,7,NFL,1.2,0.0,348,19,367,1.7,0.5,0,9,.563,Philadelphia Eagles+,2018,Eagles,Philadelphia
18,23,0.6,9,NFL,-4.9,-5.6,359,-78,281,-4.9,-0.1,0,7,.438,Washington Redskins,2018,Redskins,"Washington, D.C."
19,24,-2.9,11,NFL,-2.7,0.8,412,-43,369,-2.2,0.5,0,5,.313,New York Giants,2018,Giants,New York City
20,26,4.8,4,NFL,8.6,1.5,283,138,421,6.3,-2.3,0,12,.750,Chicago Bears*,2018,Bears,Chicago
21,27,1.8,7,NFL,1.2,-1.2,341,19,360,0.6,-0.6,1,8,.531,Minnesota Vikings,2018,Vikings,Minneapolis–Saint Paul
22,28,-2.7,9,NFL,-1.5,0.0,400,-24,376,-2.7,-1.2,1,6,.406,Green Bay Packers,2018,Packers,Green Bay
23,29,0.3,10,NFL,-2.3,-3.3,360,-36,324,-3.0,-0.8,0,6,.375,Detroit Lions,2018,Lions,Detroit
24,31,2.2,3,NFL,9.4,7.9,353,151,504,10.1,0.6,0,13,.813,New Orleans Saints*,2018,Saints,New Orleans
25,32,0.8,9,NFL,-0.4,0.1,382,-6,376,0.9,1.3,0,7,.438,Carolina Panthers,2018,Panthers,Charlotte
26,33,-2.6,9,NFL,-0.6,2.5,423,-9,414,-0.1,0.4,0,7,.438,Atlanta Falcons,2018,Falcons,Atlanta
27,34,-4.6,11,NFL,-4.3,2.0,464,-68,396,-2.6,1.7,0,5,.313,Tampa Bay Buccaneers,2018,Buccaneers,Tampa Bay Area
28,36,-1.1,3,NFL,8.9,9.5,384,143,527,8.5,-0.4,0,13,.813,Los Angeles Rams*,2018,Rams,Los Angeles
29,37,1.5,6,NFL,5.1,3.0,347,81,428,4.5,-0.6,0,10,.625,Seattle Seahawks+,2018,Seahawks,Seattle
30,38,-3.1,12,NFL,-5.8,-2.5,435,-93,342,-5.5,0.3,0,4,.250,San Francisco 49ers,2018,49ers,San Francisco Bay Area
31,39,-1.9,13,NFL,-12.5,-9.6,425,-200,225,-11.5,1.0,0,3,.188,Arizona Cardinals,2018,Cardinals,Phoenix

In [178]:
# Sort by Metro area
cities.sort_values(by='Metropolitan area',inplace=True)
cities2=cities[cities.NFL2!='']
cities2.head()

   Metropolitan area Population                NFL      NFL2
15           Atlanta    5789700            Falcons   Falcons
23         Baltimore    2798886    Ravens[note 45]    Ravens
7             Boston    4794447  Patriots[note 14]  Patriots
29           Buffalo    1132804     Bills[note 56]     Bills
24         Charlotte    2474314           Panthers  Panthers

In [181]:
nfl2_df.sort_values(by='M',inplace=True)
nfl2_df.W=nfl2_df.W.astype(int)
nfl2_df.L=nfl2_df.L.astype(int)

In [182]:
# Group NHL data by Metro
nfl3_df=nfl2_df.groupby(by=['M'])[['W','L']].sum()

In [183]:
# Calculate Win/Loss Ratio fror NHL
nfl3_df['WL']= nfl3_df['W'] + nfl3_df['L']
nfl3_df['WL Ratio']= nfl3_df['W']/nfl3_df['WL']
nfl3_df['Metro area']=nfl3_df.index

In [208]:
# reorder index
nfl3_df=nfl3_df.reindex(cities["Metropolitan area"])
nfl4_df=nfl3_df[nfl3_df['Metro area'].isnull()==False]
cities3=cities2[cities2['NFL2']!=' ']

In [209]:
cities3

         Metropolitan area Population                   NFL          NFL2
15                 Atlanta    5789700               Falcons       Falcons
23               Baltimore    2798886       Ravens[note 45]        Ravens
7                   Boston    4794447     Patriots[note 14]      Patriots
29                 Buffalo    1132804        Bills[note 56]         Bills
24               Charlotte    2474314              Panthers      Panthers
3                  Chicago    9512999         Bears[note 8]         Bears
20              Cincinnati    2165139               Bengals       Bengals
18               Cleveland    2055612       Browns[note 29]        Browns
4        Dallas–Fort Worth    7233323               Cowboys       Cowboys
9                   Denver    2853077               Broncos       Broncos
12                 Detroit    4297617                 Lions         Lions
48               Green Bay     318236               Packers       Packers
14                 Houston    6772470       Texans[note 24]        Texans
25            Indianapolis    2004230                 Colts         Colts
44            Jacksonville    1478212               Jaguars       Jaguars
21             Kansas City    2104509                Chiefs        Chiefs
1              Los Angeles   13310447  RamsChargers[note 4]  RamsChargers
10   Miami–Fort Lauderdale    6066387              Dolphins      Dolphins
8   Minneapolis–Saint Paul    3551036               Vikings       Vikings
26               Nashville    1865298                Titans        Titans
28             New Orleans    1268883                Saints        Saints
0            New York City   20153634    GiantsJets[note 1]    GiantsJets
6             Philadelphia    6070500                Eagles        Eagles
11                 Phoenix    4661537             Cardinals     Cardinals
17              Pittsburgh    2342299              Steelers      Steelers
2   San Francisco Bay Area    6657982  49ersRaiders[note 6]  49ersRaiders
19                 Seattle    3798902              Seahawks      Seahawks
16          Tampa Bay Area    3032171            Buccaneers    Buccaneers
5         Washington, D.C.    6131977              Redskins      Redskins

In [194]:
nfl4_df

                           W     L    WL  WL Ratio              Metro area
Metropolitan area
Atlanta                  7.0   9.0  16.0  0.437500                 Atlanta
Baltimore               10.0   6.0  16.0  0.625000               Baltimore
Boston                  11.0   5.0  16.0  0.687500                  Boston
Buffalo                  6.0  10.0  16.0  0.375000                 Buffalo
Charlotte                7.0   9.0  16.0  0.437500               Charlotte
Chicago                 12.0   4.0  16.0  0.750000                 Chicago
Cincinnati               6.0  10.0  16.0  0.375000              Cincinnati
Cleveland                7.0   8.0  15.0  0.466667               Cleveland
Dallas–Fort Worth       10.0   6.0  16.0  0.625000       Dallas–Fort Worth
Denver                   6.0  10.0  16.0  0.375000                  Denver
Detroit                  6.0  10.0  16.0  0.375000                 Detroit
Green Bay                6.0   9.0  15.0  0.400000               Green Bay
Houston                 11.0   5.0  16.0  0.687500                 Houston
Indianapolis            10.0   6.0  16.0  0.625000            Indianapolis
Jacksonville             5.0  11.0  16.0  0.312500            Jacksonville
Kansas City             12.0   4.0  16.0  0.750000             Kansas City
Los Angeles             25.0   7.0  32.0  0.781250             Los Angeles
Miami–Fort Lauderdale    7.0   9.0  16.0  0.437500   Miami–Fort Lauderdale
Minneapolis–Saint Paul   8.0   7.0  15.0  0.533333  Minneapolis–Saint Paul
Nashville                9.0   7.0  16.0  0.562500               Nashville
New Orleans             13.0   3.0  16.0  0.812500             New Orleans
New York City            9.0  23.0  32.0  0.281250           New York City
Philadelphia             9.0   7.0  16.0  0.562500            Philadelphia
Phoenix                  3.0  13.0  16.0  0.187500                 Phoenix
Pittsburgh               9.0   6.0  15.0  0.600000              Pittsburgh
San Francisco Bay Area   8.0  24.0  32.0  0.250000  San Francisco Bay Area
Seattle                 10.0   6.0  16.0  0.625000                 Seattle
Tampa Bay Area           5.0  11.0  16.0  0.312500          Tampa Bay Area
Washington, D.C.         7.0   9.0  16.0  0.437500        Washington, D.C.

In [204]:
population_by_region = cities3['Population'].astype(float).to_list() # pass in metropolitan area population from cities
win_loss_by_region = nfl4_df['WL Ratio'].to_list() # pass in win/loss ratio from nhl_df in the same order as cities["Metropolitan area"]
stats.pearsonr(population_by_region, win_loss_by_region)[0]

ValueError: x and y must have the same length.

In [210]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

#nfl_df=pd.read_csv("assets/nfl.csv")
#cities=pd.read_html("assets/wikipedia_data.html")[1]
#cities=cities.iloc[:-1,[0,3,5,6,7,8]]

def nfl_correlation(): 
    nfl_df=pd.read_csv("assets/nfl.csv")

    # extract just year 2018, remove rows containing Divison 
    nfl_df=nfl_df[nfl_df.year==2018]
    
     # Extract last word of team
    pattern='(?P<team>[\w]*)[\*+]*$'

    def team_split(f):
        first_word=f.strip().split(" ")[0]
        if re.search('(^AFC)|(^NFC)',first_word): # extract last two words
            return 'Conference'
        else: # extract last word
            for item in re.finditer(pattern, f): # extract last word only
                return item.groupdict()['team']   

    nfl_df['team2']=nfl_df['team'].apply(team_split)
    nfl_df=nfl_df[nfl_df['team2']!='Conference']
    # reindex dataframe
    nfl_df.reset_index(inplace=True)    
    
    cities=pd.read_html("assets/wikipedia_data.html")[1]
    cities=cities.iloc[:-1,[0,3,5,6,7,8]]
    cities.rename(columns={'Population (2016 est.)[8]':'Population'},inplace=True)
    # reset indices
    cities.index=np.arange(len(cities.index))    
    
    
     # strip out notes from cities MLB
    pattern='(?P<team>[\w\s]*)[\[note\s\d\]]*$'
    def team_split(f):
        for item in re.finditer(pattern, f):
            return item.groupdict()['team']
    cities=cities[['Metropolitan area','Population','NFL']]
    cities['NFL2']=cities['NFL'].apply(team_split)
    
    # Sort by Metro area
    cities.sort_values(by='Metropolitan area',inplace=True)
    cities2=cities[cities.NFL2!='']
    cities3=cities2[cities2['NFL2']!=' ']  
    
    nfl2_df.sort_values(by='M',inplace=True)
    nfl2_df.W=nfl2_df.W.astype(int)
    nfl2_df.L=nfl2_df.L.astype(int)    
    
    # Group NHL data by Metro
    nfl3_df=nfl2_df.groupby(by=['M'])[['W','L']].sum()    

    # Calculate Win/Loss Ratio fror NHL
    nfl3_df['WL']= nfl3_df['W'] + nfl3_df['L']
    nfl3_df['WL Ratio']= nfl3_df['W']/nfl3_df['WL']
    nfl3_df['Metro area']=nfl3_df.index

    # reorder index
    nfl3_df=nfl3_df.reindex(cities["Metropolitan area"])
    nfl4_df=nfl3_df[nfl3_df['Metro area'].isnull()==False]

    #raise NotImplementedError()
    
    population_by_region = cities3['Population'].astype(float).to_list() # pass in metropolitan area population from cities
    win_loss_by_region = nfl4_df['WL Ratio'].to_list() # pass in win/loss ratio from nhl_df in the same order as cities["Metropolitan area"]
    
    assert len(population_by_region) == len(win_loss_by_region), "Q4: Your lists must be the same length"
    assert len(population_by_region) == 29, "Q4: There should be 29 teams being analysed for NFL"

    return stats.pearsonr(population_by_region, win_loss_by_region)[0]

In [211]:
nfl_correlation()

0.004922112149349393

## Question 5
In this question I would like you to explore the hypothesis that **given that an area has two sports teams in different sports, those teams will perform the same within their respective sports**. How I would like to see this explored is with a series of paired t-tests (so use [`ttest_rel`](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.ttest_rel.html)) between all pairs of sports. Are there any sports where we can reject the null hypothesis? Again, average values where a sport has multiple teams in one region. Remember, you will only be including, for each sport, cities which have teams engaged in that sport, drop others as appropriate. This question is worth 20% of the grade for this assignment.

In [230]:
nfl4_df.rename(columns={'WL Ratio':'NFL WL Ratio'},inplace=True)
nfl4_df=nfl4_df[['Metro area','NFL WL Ratio']]
nfl4_df.head()

                      W     L    WL  NFL WL Ratio Metro area
Metropolitan area
Atlanta             7.0   9.0  16.0        0.4375    Atlanta
Baltimore          10.0   6.0  16.0        0.6250  Baltimore
Boston             11.0   5.0  16.0        0.6875     Boston
Buffalo             6.0  10.0  16.0        0.3750    Buffalo
Charlotte           7.0   9.0  16.0        0.4375  Charlotte

In [261]:
nhl4_df.rename(columns={'WL Ratio':'NHL WL Ratio'},inplace=True)
nhl4_df=nhl4_df[['Metro area','NHL WL Ratio']]
nhl4_df.head()

                  Metro area  NHL WL Ratio
Metropolitan area
Boston                Boston      0.714286
Buffalo              Buffalo      0.357143
Calgary              Calgary      0.513889
Chicago              Chicago      0.458333
Columbus            Columbus      0.600000

In [293]:
nba4_df.rename(columns={'WL Ratio':'NBA WL Ratio'},inplace=True)
nba4_df=nba4_df[['Metro area','NBA WL Ratio']]
nba4_df.head()

                  Metro area  NBA WL Ratio
Metropolitan area
Atlanta              Atlanta      0.292683
Boston                Boston      0.670732
Charlotte          Charlotte      0.439024
Chicago              Chicago      0.329268
Cleveland          Cleveland      0.609756

In [231]:
mlb4_df.rename(columns={'WL Ratio':'MLB WL Ratio'},inplace=True)
mlb4_df=mlb4_df[['Metro area','MLB WL Ratio']]
mlb4_df.head()

                       W      L     WL  MLB WL Ratio  Metro area
Metropolitan area
Atlanta             90.0   72.0  162.0      0.555556     Atlanta
Baltimore           47.0  115.0  162.0      0.290123   Baltimore
Boston             108.0   54.0  162.0      0.666667      Boston
Chicago            157.0  168.0  325.0      0.483077     Chicago
Cincinnati          67.0   95.0  162.0      0.413580  Cincinnati

In [238]:
sports=pd.merge(nfl4_df,mlb4_df,how='outer',on='Metro area')
print(sports.head(10))
print(sports.shape)
sports2=sports.dropna()
print(sports2.shape)
print(sports2.head())

          Metro area  NFL WL Ratio  MLB WL Ratio
0            Atlanta      0.437500      0.555556
1          Baltimore      0.625000      0.290123
2             Boston      0.687500      0.666667
3            Buffalo      0.375000           NaN
4          Charlotte      0.437500           NaN
5            Chicago      0.750000      0.483077
6         Cincinnati      0.375000      0.413580
7          Cleveland      0.466667      0.561728
8  Dallas–Fort Worth      0.625000      0.413580
9             Denver      0.375000      0.558282
(33, 3)
(22, 3)
   Metro area  NFL WL Ratio  MLB WL Ratio
0     Atlanta        0.4375      0.555556
1   Baltimore        0.6250      0.290123
2      Boston        0.6875      0.666667
5     Chicago        0.7500      0.483077
6  Cincinnati        0.3750      0.413580

In [294]:
from scipy import stats
pval = pd.DataFrame(columns=['NFL', 'MLB','NHL','NBA'])
#pval.index(['NFL','MLB'],inplace=True)

# pvalue for NFL and MLB
def looper(df,df1,df2,rat1,rat2,pos1,pos2):
    sports=pd.merge(df1,df2,how='outer',on='Metro area')
    sports2=sports.dropna()
    df.loc[pos1,pos2]=stats.ttest_rel(sports2[rat1],sports2[rat2])[1]
    df.loc[pos2,pos1]=pval.loc[pos1,pos2]
    return df

pval=looper(pval,nfl4_df,mlb4_df,'NFL WL Ratio','MLB WL Ratio','NFL','MLB')
pval=looper(pval,nhl4_df,mlb4_df,'NHL WL Ratio','MLB WL Ratio','NHL','MLB')
pval=looper(pval,nba4_df,mlb4_df,'NBA WL Ratio','MLB WL Ratio','NBA','MLB')

pval=looper(pval,nfl4_df,nba4_df,'NFL WL Ratio','NBA WL Ratio','NFL','NBA')
pval=looper(pval,nhl4_df,nba4_df,'NHL WL Ratio','NBA WL Ratio','NHL','NBA')

pval=looper(pval,nfl4_df,nhl4_df,'NFL WL Ratio','NHL WL Ratio','NFL','NHL')

pval

           NFL          MLB          NHL        NBA
NFL        NaN     0.802384    0.0309585   0.941792
MLB   0.802384          NaN  0.000711871   0.951046
NHL  0.0309585  0.000711871          NaN  0.0223157
NBA   0.941792     0.951046    0.0223157        NaN

In [ ]:
for i,v in enumerate(nfl4_df):
    for i,v in enumerate(mlb4_df):

In [297]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import re

mlb_df=pd.read_csv("assets/mlb.csv")
nhl_df=pd.read_csv("assets/nhl.csv")
nba_df=pd.read_csv("assets/nba.csv")
nfl_df=pd.read_csv("assets/nfl.csv")
cities=pd.read_html("assets/wikipedia_data.html")[1]
cities=cities.iloc[:-1,[0,3,5,6,7,8]]

def sports_team_performance():
    sports = ['NFL', 'NBA', 'NHL', 'MLB']
    #pval = pd.DataFrame(columns=sports)
    pval = pd.DataFrame({k:np.nan for k in sports}, index=sports)
    

    # pvalue for NFL and MLB
    def looper(df,df1,df2,rat1,rat2,pos1,pos2):
        sports=pd.merge(df1,df2,how='outer',on='Metro area')
        sports2=sports.dropna()
        df.loc[pos1,pos2]=stats.ttest_rel(sports2[rat1],sports2[rat2])[1]
        df.loc[pos2,pos1]=pval.loc[pos1,pos2]
        return df

    pval=looper(pval,nfl4_df,mlb4_df,'NFL WL Ratio','MLB WL Ratio','NFL','MLB')
    pval=looper(pval,nhl4_df,mlb4_df,'NHL WL Ratio','MLB WL Ratio','NHL','MLB')
    pval=looper(pval,nba4_df,mlb4_df,'NBA WL Ratio','MLB WL Ratio','NBA','MLB')

    pval=looper(pval,nfl4_df,nba4_df,'NFL WL Ratio','NBA WL Ratio','NFL','NBA')
    pval=looper(pval,nhl4_df,nba4_df,'NHL WL Ratio','NBA WL Ratio','NHL','NBA')

    pval=looper(pval,nfl4_df,nhl4_df,'NFL WL Ratio','NHL WL Ratio','NFL','NHL')
    p_values=pval
    
    #raise NotImplementedError()
    
    # Note: p_values is a full dataframe, so df.loc["NFL","NBA"] should be the same as df.loc["NBA","NFL"] and
    # df.loc["NFL","NFL"] should return np.nan
    
    assert abs(p_values.loc["NBA", "NHL"] - 0.02) <= 1e-2, "The NBA-NFL p-value should be around 0.02"
    assert abs(p_values.loc["MLB", "NFL"] - 0.80) <= 1e-2, "The MLB-NFL p-value should be around 0.80"
    return p_values

In [298]:
sports_team_performance()

          NFL       NBA       NHL       MLB
NFL       NaN  0.941792  0.030959  0.802384
NBA  0.941792       NaN  0.022316  0.951046
NHL  0.030959  0.022316       NaN  0.000712
MLB  0.802384  0.951046  0.000712       NaN